.container{
	background: url(../img/main.jpg) no-repeat center;
	background-position: center;
	width: 100%;
	background-size:contain;
	max-width:2800px; 
	height: 2000px;
   
}

.container h1{
text-align: center;
color: white;
padding-top: 120%;
font-size: 6em;
/*    display: inline;*/
    z-index: 10;
    
}

#navi{
    
/*   position: fixed;*/
    
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
	
/*
    bottom: 0;
    height: 44px;
    padding: 13px 0;
    position: absolute;
*/
    width: 100%;
    
    
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}




/*==========================
          services
============================*/

#services{
    height: auto;
    border-bottom: 20px;
    border-bottom-color: navajowhite;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
    padding: 90px;
}

#services h1{
    padding-top: 4%;
    text-align: center;
    font-size: 4em;
    font-style: normal;
}

#services p{
    text-align: center;
    font-size: 1.2em;
}

#services img{
    max-height: 500px;
    width: 100%;
    max-width: 2500px;
    border-radius: 2em;
    

}
